mixin step(x,y,r,s,z,rx,ry)
  .step(id=attributes.id, class=attributes.class, data-x=x, data-y=y, data-z=z, data-rotate=r, data-rotate-x=rx, data-rotate-y=ry, data-scale=s)
    block
.fallback-message
  :markdown
    Your browser **doesn't support the features required**, so you are presented with a simplified version of this site.

    For the best experience please use the latest **Chrome**, **Safari** or **Firefox** browser.
nav
  a(href='#name') Icer
    i.icon-home
  a(href='#education') education
    i.icon-book
  a(href='#work-experience') jobs
    i.icon-suitcase
  a(href='#skills') skills
    i.icon-thumbs-up
  a(href='#works') works
    i.icon-beaker
  //-a#contact-nav(href='#contact')
  //-  i.icon-envelope  
  a(href='#', onclick='impress().next();') next
    i.icon-chevron-right  
div.navegate
  span.font.doodle-nav navigate
#impress
  +step(0,0,0,5)#name
    h1 Icer, Liang
    h2
      i.icon-bookmark-empty  
      | architect & expert on C#
  +step(1500,1500,90,2)#education
    :markdown
      * `2009` graduated from `Chongqing Jiaotong University` with `Electric Information Engineering`
      * `2013` started studying `Embedded development` at `Shanghai Jiaotong University`
    h2
      i.icon-book  
      | education
  +step(1500,2000,0,1,-250,-90)
    :markdown
      * 在两届机器人大赛中分别获得个人的**铜牌**和**银牌**  
      * 在两届创新与实践活动全国总决赛中均获得**铜牌**。 
      * 创新作品大赛中共获得三个**一等奖**，两个二等奖，三等奖若干
      * 信息学奥赛三年均获得二等奖。
    h2
      i.icon-book  
      | 高中
  +step(1500,2000,0,1,-750,-90)
    :markdown
      * 第六届“挑战杯”全国大学生创业设计大赛全国 **铜奖** 
      * 第十届“挑战杯”全国大学生课外学术科技作品竞赛重庆赛区 **一等奖** 
      * 重庆市高校第一届数据库应用设计大赛 **一等奖**
      * 中国大学生数学建模大赛重庆赛区 **一等奖**
      * 其他校级奖励若干（其中**一等奖**5个）
    h2
      i.icon-book  
      | 大学 
  +step(1500,2000,0,1,-1250,-90)
    :markdown
        * 发表在**《计算机科学》**的《复杂背景下视频序列中的人脸定位》;
        * 发表在《The International Conference on Sustainable  Development in Building and Environment, Chongqing, China 25-27th,September,2007》的《Face Location in Video Sequence with Complex Background》;
        * 发表在**《材料导报》**的《基于数字显微图像处理的水泥粒度分析》
    h2
      i.icon-book  
      | 论文
  +step(1500,2000,0,1,-1750,-90)
    :markdown
        * 桥梁智能健康监测系统（算法设计，C++）
        * 桥梁裂纹检测系统（图像检测算法设计及优化，C#）
        * 水泥粒度检测系统（图像计算算法设计，C#）
        * 重庆交通大学研究生部信息管理系统（C#）
        * 重庆交通大学就业信息管理系统（C#）
    h2
      i.icon-book  
      | 参与过的项目
  +step(1500,2000,0,1,-2250,-90)
    :markdown
      #### WEBGAME和平世界(基于网页的即时战略游戏)
      * 项目中职责：**项目管理**、**系统构架**

      #### 基于人脸识别的安防监控系统
      * 项目中职责：**系统构架**，**核心算法设计**
    h2
      i.icon-book  
      | 项目管理经验 
  +step(700,1500,90,2)#work-experience
    ul
      li 
        b Com Information ltd
        | &nbsp;in Chongqing, Intern
      li
        a(href='http://www.feinno.com/')
          img(src='fetion.gif', height=30)
          | D-Media
        | &nbsp;in Chongqing, Developer->Leader->Architect->PM
      li
        a(href='http://honeywell.com/')
          img(src='honeywell.jpg', height=40)
        | &nbsp;in Shanghai, Developer->Architect
    h2
      i.icon-building  
      | work experience
  +step(700,2000,0,1,-250,-90)#dmedia-experience
    :markdown
      * `2009.4-2009.11` 开发工程师
        * 高性能Socket USSD服务器
      * `2009.12-2010.8` 技术组长（5人团队）
        * 负责由个人独立设计新架构的实现，需求业务分析及实现工作
      * `2010.9-2010.11` 技术架构师（4人团队）
        * 负责新项目的研发
      * `2010.12-2011.8` 技术架构师（9人团队）
        * 负责公司重要项目的架构设计及开发安排
      * `2011.9-2012.1` 项目经理（管理9人）
    h2
      i.icon-building  
      | Personal Progress Data
  +step(700,2000,0,1,-750,-90)
    :markdown
      * 一种彩信文件预览处理方法及装置
      * 一种短彩信数据下发处理系统及方法
      * 基于短彩信业务数据的业务用户分组下发处理系统
      * 一种短彩信文件生成系统及方法
      * 基于移动终端的网页数据结构化显示方法
      * 数据请求转发服务器及方法
      * 基于移动终端网页数据业务的服务器系统及其业务通信方法
    h2
      i.icon-building  
      | Patent
  -var y=1700
  +step(1200,y+=1100,90,1,-1250,0,-90).hidepast
    img(src='dmedia/session_architecture.png')
  +step(1200,y+=1100,90,1,-1250,0,-90).hidepast
    img(src='dmedia/session_fs.png')
  +step(1200,y+=1100,90,1,-1250,0,-90).hidepast
    img(src='dmedia/session_ci.png')
  +step(1200,y+=1100,90,1,-1250,0,-90).hidepast
    img(src='dmedia/session_router.png')
  +step(1200,y+=1100,90,1,-1250,0,-90).hidepast
    img(src='dmedia/session_bsy.png')
  +step(1200,y+=1100,90,1,-1250,0,-90).hidepast
    img(src='dmedia/tools_prototypecreator.png')
  +step(700,2000,0,1,-1250,-90)
    :markdown
      * 完成专利申请**7项**
      * 进行公司内部技术讲座**7次**
      * 获得公司年度优秀员工称号**2次**（每年大约2.5%比例）
      * 开发并在公司内部公布可复用组件**5项**
      * 设计/实行的全新架构**4/3例**
    h2
      i.icon-building  
      | Personal Performance Data
  +step(700,2000,0,1,250,-90)#honeywell-experience
    :markdown
      * `2012.5-2013.4` Implementer
        * 高性能Socket USSD服务器
      * `2013.4-2014.7` Architect
        * 高性能Socket USSD服务器
    h2
      i.icon-building  
      | Personal Progress Data
  +step(700,2000,0,1,750,-90)
    :markdown
      * Auto test on Control builder
      * Basic guide for vSphere
      * Exsi 5.0 Installation Guide
      * Useful tools share
      * Useful tools share session 2
      * Code quality
      * Continuous Integration
      * PLC on Home automation
      * Research on new PLC platform
      * Auto wire routing research report
    h2
      i.icon-building  
      | Sessions shared
  -var y=1700
  +step(1200,y+=1100,90,1,750,0,-90).hidepast
    img(src='honeywell/session_autowirerouting.png')
  +step(1200,y+=1100,90,1,750,0,-90).hidepast
    img(src='honeywell/session_ci.png')
  +step(1200,y+=1100,90,1,750,0,-90).hidepast
    img(src='honeywell/session_codequality.png')
  +step(1200,y+=1100,90,1,750,0,-90).hidepast
    img(src='honeywell/session_esxi.png')
  +step(1200,y+=1100,90,1,750,0,-90).hidepast
    img(src='honeywell/session_plcinhomeautomation.png')
  +step(1200,y+=1100,90,1,750,0,-90).hidepast
    img(src='honeywell/session_plcresearch.png')
  +step(1200,y+=1100,90,1,750,0,-90).hidepast
    img(src='honeywell/session_shareusefultools1.png')
  +step(1200,y+=1100,90,1,750,0,-90).hidepast
    img(src='honeywell/session_shareusefultools2.png')
  +step(1200,y+=1100,90,1,750,0,-90).hidepast
    img(src='honeywell/session_uiautotest.png')
  +step(1200,y+=1100,90,1,750,0,-90).hidepast
    img(src='honeywell/session_vsphere.png')
  +step(700,2000,0,1,1250,-90)
    :markdown
      * Image Comparer
      * Icer Clearcase Helper
      * PAR Utility
      * Icer Smart Generator
      * XSD2CPP generator
    h2
      i.icon-building  
      | Productivity Tools
  -var y=1700
  +step(1200,y+=1100,90,1,1250,0,-90).hidepast
    img(src='honeywell/tools_cchelper.png')
  +step(1200,y+=1100,90,1,1250,0,-90).hidepast
    img(src='honeywell/tools_imagecomparer.png')
  +step(1200,y+=1100,90,1,1250,0,-90).hidepast
    img(src='honeywell/tools_parutility.png')
  +step(1200,y+=1100,90,1,1250,0,-90).hidepast
    img(src='honeywell/tools_smartgenerator1.png')
  +step(1200,y+=1100,90,1,1250,0,-90).hidepast
    img(src='honeywell/tools_smartgenerator2.png')
  +step(1200,y+=1100,90,1,1250,0,-90).hidepast
    img(src='honeywell/tools_xsd2cpp.png')
  +step(700,2000,0,1,1750,-90)
    :markdown
      * Path finding for oil pipe
      * New auto wiring research
      * Research of new language of PLC
      * PLC research
      * RTU
    h2
      i.icon-building  
      | Prototypes
  -var y=1700
  +step(1200,y+=1100,90,1,1750,0,-90).hidepast
    img(src='honeywell/prototype_chartwire1.png')
  +step(1200,y+=1100,90,1,1750,0,-90).hidepast
    img(src='honeywell/prototype_chartwire2.png')
  +step(1200,y+=1100,90,1,1750,0,-90).hidepast
    img(src='honeywell/prototype_pathfinding1.png')
  +step(1200,y+=1100,90,1,1750,0,-90).hidepast
    img(src='honeywell/prototype_pathfinding2.png')
  +step(1200,y+=1100,90,1,1750,0,-90).hidepast
    img(src='honeywell/prototype_plc1.jpeg')
  +step(1200,y+=1100,90,1,1750,0,-90).hidepast
    img(src='honeywell/prototype_plc2.png')
  +step(1200,y+=1100,90,1,1750,0,-90).hidepast
    img(src='honeywell/prototype_plcnewlanguage1.png')
  +step(1200,y+=1100,90,1,1750,0,-90).hidepast
    img(src='honeywell/prototype_plcnewlanguage2.png')
  +step(1200,y+=1100,90,1,1750,0,-90).hidepast
    img(src='honeywell/prototype_rtu1.png')
  +step(1200,y+=1100,90,1,1750,0,-90).hidepast
    img(src='honeywell/prototype_rtu2.png')
  +step(1200,y+=1100,90,1,1750,0,-90).hidepast
    img(src='honeywell/prototype_rtu3.png')
  +step(1200,y+=1100,90,1,1750,0,-90).hidepast
    img(src='honeywell/prototype_rtu4.png')
  +step(700,2000,0,1,2250,-90)
    :markdown
      * Jenkins
      * Review Board
      * Gitlab
      * Redmine
      * Interface Document
    h2
      i.icon-building  
      | Assistant System
  -var y=1700
  +step(1200,y+=1100,90,1,2250,0,-90).hidepast
    img(src='honeywell/system_document.png')
  +step(1200,y+=1100,90,1,2250,0,-90).hidepast
    img(src='honeywell/system_gitlab.png')
  +step(1200,y+=1100,90,1,2250,0,-90).hidepast
    img(src='honeywell/system_jenkins1.png')
  +step(1200,y+=1100,90,1,2250,0,-90).hidepast
    img(src='honeywell/system_jenkins2.png')
  +step(1200,y+=1100,90,1,2250,0,-90).hidepast
    img(src='honeywell/system_redmine.png')
  +step(1200,y+=1100,90,1,2250,0,-90).hidepast
    img(src='honeywell/system_reviewboard.png')
  +step(-300,1500,90,2)#skills
    #skillmap
      .skills-wrapper
        .skills-sunburst
        .skills-chart
          #skills-chart-breadcrumb
    h2
      i.icon-star  
      | skills
  +step(-1300,1500,90,2)#works
    ul
      li works
    h2
      i.icon-star  
      | works
  +step(-1300,2000,0,1,-500,-270)#video.hidepast
    ul
      li
        video(muted)
          source#coverVideo(src='video/projectormouse.mp4', type='video/mp4')
    h2
      i.icon-star  
      | skills
  +step(-1300,2000,0,1,-1500,-270)#video2.hidepast
    ul
      li
        video(muted)
          source#coverVideo(src='video/bell.mp4', type='video/mp4')
    h2
      i.icon-star  
      | skills
  +step(-1300,2000,0,1,-2500,-270)#video3.hidepast
    ul
      li
        video(muted)
          source#coverVideo(src='video/face.mp4', type='video/mp4')
    h2
      i.icon-star  
      | skills
//-  #work.step(data-x='-700', data-y='1500', data-rotate='90', data-scale='2')
//-    ul
//-      li
//-        a(href='http://www.kageetai.net/portfolio/flickr-fixr', target='_blank')
//-          | Flickr Fixr
//-          img.thumb(src='http://kageetai.lynx.uberspace.de/wordpress/wp-content/uploads/2012/06/Capture.png', alt='Flickr Fixr')
//-      li
//-        a(href='http://www.kageetai.net/portfolio/bored-game', target='_blank')
//-          | Bored Game
//-          img.thumb(src='http://www.scirra.com/arcade/images/1185/game-big.jpg', alt='Bored Game')
//-      li this site using HTML5, CSS3 and SASS with Compass
//-    h2
//-      i.icon-laptop  
//-      | example work
//-  #side-projects.step(data-x='-1400', data-y='1500', data-rotate='90', data-scale='2')
//-    ul
//-      li
//-        | own website
//-        a(href='http://kageetai.net/', target='_blank') kageetai.net
//-      li
//-        | several smaller website projects currently in development
//-      li
//-        | volunteer work at youth organization
//-        a(href='http://www.jugendmediencamp.de/', target='_blank') Jugendmediencamp
//-      li
//-        | movie and web project for young movie project
//-    h2
//-      i.icon-tags  
//-      | side projects
  #contact.step(data-x='-2000', data-y='1000', data-rotate='0', data-scale='1')
    ul
      li
        a(href='mailto:shuang.liang@honeywell.com', target='_blank') Liang, Icer (E585909)
    h2
      i.icon-envelope  
      | contact me
  // <div id="overview" class="step" data-x="0" data-y="1000" data-scale="5">&nbsp;</div>
.hint
  p.mouse Use Arrows or SpaceBar keys to navigate
//-.menu
//-  ul
//-    li
//-      a.font(href='#slogan')
//-        | Home
//-        i.icon-home
//-    li
//-      a.font(href='#what')
//-        | What we Do
//-        i.icon-code
//-    li
//-      a.font(href='#how')
//-        | How we Do
//-        i.icon-sitemap
//-    li
//-      a.font(href='#tech')
//-        | Technologies
//-        i.icon-cogs
//-    li
//-      a.font(href='#services')
//-        | Services
//-        i.icon-beaker
//-    li
//-      a.font(href='#success')
//-        | Succes Stories
//-        i.icon-star
button#next
  span.next
    i.icon-double-angle-right
script
  |if ("ontouchstart" in document.documentElement) {
  |  document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
  |}
script(src='js/impress.js')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script(src='js/d3.js')
script(src='js/skillsdata.js')
script(src='js/skill.js')
script
  |if (!window.location.search.match(/print/)) {
  |  impress().init();
  |}

